<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'players')}">

<body>

<h2>Player</h2>
<form th:object="${player}" class="form-horizontal" id="add-player-form" method="post">
  <div class="form-group has-feedback">
    <input
      th:replace="~{fragments/inputField :: input ('Nickname', 'nickname', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input ('Registration date', 'registrationDate', 'text')}" />

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
        th:with="text=${player['new']} ? 'Add Player' : 'Update Player'"
        class="btn btn-default" type="submit" th:text="${text}">Add
        Player</button>
    </div>
  </div>
</form>
</body>
</html>
